       #navabar{
    position: fixed;
    width: 100%;
    top: 0;
    }

       body {
           margin: 0px 0px;
           box-sizing: border-box;
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       }

       #veryTop {
           font-size: 13px;
           text-align: right;
           margin-right: 20px;
           background-color: white;

       }

       #nav>img {
           width: 60px;
           margin-left: 30px;
           height: 60px;
           width: 99px;

       }

       .a>img {
           width: 10px;

       }

       #down>img {
           width: 60px;
           height: 60px;
           margin-right: 30px;
       }

       #nav {
           display: flex;
           height: 70px;
           justify-content: space-between;

           align-items: center;
           background-color: rgb(35, 87, 87);
       }

       .a {
           text-decoration: none;
           color: azure;
           background-color: orangered;
           color: antiquewhite;
           border: none;
           padding: 5px;
           font-weight: bold;
           height: 40px;
           border-radius: 4px;
           font-size: 14px;
           padding-left: 10px;
           padding-right: 10px;
       }

       #a {
           /* margin-left: 30px; */
           width: 70px;
       }

       #cat {
           width: 120px;
           height: 42px;
           background-color: orangered;
           border: none;
           border-radius: 8px;
           font-size: 15px;
           padding: 2px;
           color: white;
       }

       #searchbox {
           width: 420px;
           height: 42px;
           border-radius: 8px;
           font-size: 15px;
           border: none;

       }

       #searchIcon {
           height: 42px;
           border-radius: 5px;

           border: none;
       }



       /* nav bar ends */
       /* hover starts */

       #sideNavbarfix {
           position: fixed;
           float: right;
            
           margin-top: 85px;
       }

       .sideNavbar {
           padding-left: 20px;
           box-sizing: border-box;
           height: 29px;
           width: 300px;
           position: relative;
           background-color: green;
           color: white;
           text-align: left;
           line-height: 28px;
           font-size: 17px;
           cursor: pointer;
           top: 0;

       }

       .sideNavbar:hover {
           background-color: orange;
       }

       .dropdowns {
           height: auto;
           width: 200px;
           line-height: 29px;
           font-size: 22px;
           background-color: orange;
           position: relative;
           left: 0;
           display: none;

       }

       .dropdowns a {
           color: black;
           display: block;
           text-align: left;
           padding-left: 5px;
           font-size: 14px;
       }

       a:hover {
           background-color: green;
           color: white;
       }

       .sideNavbar:hover .dropdowns {
           position: relative;
           display: block;
           margin-left: 280px;
           margin-top: -28px;


       }

       /* **************************** */
       * {
           padding: 0;
           margin: 0;
       }

       #main {
           display: grid;
           grid-template-columns: repeat(4, 1fr);
           /* gri */
           /* gap: 10px; */
           margin-left: 320px;
           padding-top: 100px;
           
       }

       #main>div {
           /* height: 300px; */
           padding: 20px;
           cursor: pointer;
           box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
           /* margin-top: 80px; */
       }

       #main>div>h2 {
           font-size: 18px;
           font-weight: 300;
           margin-top: 10px;

       }

       #main>div>div {
           display: flex;
           width: 100%;
           justify-content: space-between;
           /* gap: 50px; */

       }

       #main>div>div>h3:first-child {
           color: gray;
           text-decoration: line-through;
           font-weight: 300;
       }

       #main>div>div>h3 {
           color: teal;
       }

       #main>div>p {
           color: grey;
       }

       #main>div>p:last-child {
           color: red;
           margin-top: 20px;
       }

       #main>div>img {
           display: block;
           margin: auto;
           width: 100px;
           height: 100px;
       }

       /* ***************************** */
       #cont {
           width: 70%;
           display: grid;
           grid-template-columns: repeat(4, 1fr);
           margin-left: 320px;
           box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }

       #cont img {
           width: 50%;
           height: 45%;
           margin-left: 70px;
       }

       #cont h4 {
           text-align: center;
       }

       #cont h6 {
           margin-left: 20px;
       }

       #cont p {
           margin-left: 75px;
           color: teal;
       }

       #cont div {
           box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
           padding: 15px;
       }





       /*footer  */
       #footer{
        margin-top: 10px;
        
       }
       #footer1{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        font-size: 10px;
        background-color: rgb(60, 97, 97);
        padding: 30px;
    }
    #footer a{
        text-decoration: none;
        color: rgb(215, 209, 209);
    }
    #footer2{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 10px;
        background-color: rgb(10, 65, 65);
        padding: 30px; 
    }
    #footer p{
        color: rgb(215, 209, 209); 
    }
    .foo1{
        display: block;
    }
   #footer button{
        background-color: orangered;
        border: none;
        color: azure;
        font-size: 10px;
    }
    #footer3{
        background-color: rgb(10, 65, 65);
        padding-top: 5px;
        display: flex;
        padding-left: 100px;
    }
    #inp{
        display: flex;
    }
    #pay{
        font-size: 15px;
    }